.container {

}

.player_wrapper {
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    margin:0 auto 0 auto;
    max-width: 100%;
    height: auto;
    border-radius: 5px;     
}

.exit_btn {
        
}

.button_exit{
    
}

.react_player {
    display: block; 
}

.control_btn {
    display: block;
    
}
