.container {

}

.player_wrapper {
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    margin:30vh auto 0 auto;
    max-width: 100%;
    height: auto;
    border: 3px solid rgb(0, 136, 204);
    border-radius: 5px; 
}

.exit_btn {
    
}

.button_exit{
    
}

.react_player {
    display: block; 
}

.control_btn {

}
